*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Samsung Sharp Sans', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;    
}
ul{
    list-style: none;
}

.container{
    width: 95%;
    height: 100vh;
    position:relative;
    color:white;
    background-image: url(images/HOME_TS11_Hero-KV_1920x1080_pc.webp);
    background-size:cover;
    background-repeat: no-repeat;
    display: block;
    margin: 0px auto 50px auto;
}
 
.container .nav1 ul{
    position: absolute;
    top: 0px;
    right: 50px;
    display: flex;
}
.linav1{
    padding: 20px;
}
.nav2{
    position: absolute;
    top: 60px;
    left: 60px;
    display: flex;
    padding-bottom: 50px;
}
.nav2 ul{
    display: flex;
    padding-right: 30px;
    font-weight: 700;
}
.nav2 ul li{
    padding-left: 30px;
}
.nav3{
    position: absolute;
    top: 0px;
    left:110%;
    display: flex;
    
}

.nav3 ul li:nth-child(1) {
    border: 0.5px solid;
    border-radius: 40px;
    margin:-10px 0px 0px 0px;
    padding: 10px 100px 10px 10px;
    font-size: 20px;
    background-color:rgba(223, 218, 218, 0.5) ;
}
.nav3 ul li:nth-child(2){
    font-size: 20px;
}
.nav3 ul li:nth-child(3){
    font-size: 20px;
}
.sam{
    font-size: 30px;
    margin-top: -10px;
    font-weight: 800;
}
.headerlinks ul{
    position: absolute;
    top: 600px;
    left: 100px;
    display: flex;
}
.adef {
    margin: 50px;
    text-decoration:underline;
}
.abor{
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 20px;
}
nav{
    color: black;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid;
}

.headerlinks1 ul{
    position: absolute;
    top: 600px;
    left: 100px;
    display: flex;
}
.adef1 {
    margin: 50px;
    text-decoration:underline;
}
.abor1{
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 20px;
}
.container-sec{
    overflow-y: hidden;
    overflow-x:auto;
    width: 95%;
    height:50vh;
    color:black ;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin: 50px auto;
    align-items: flex-start;
}
.container-sec1{
    overflow-y: hidden;
    overflow-x:auto;
    width: 95%;
    height:70vh;
    color:black ;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin: 50px auto;
    align-items: flex-start;
    scrollbar-width: 1px;
}
.container-sec2{
    width: 95%;
    height:30vh;
    color:black ;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin: 50px auto;
}
.art{
    flex-shrink: 0;
    min-width: 300px;
    max-height:320px;
    background-color: rgb(239, 238, 235);
    font-size: 2rem;
    text-align: center;
    flex: 1;
}
.art a{
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.nav2li{
    position: relative;
}

.dropdown {
  position: relative;  

}

.menu {
  display: flex;
  position: absolute;
  top: 12px;
  left: -280px;
  width: 950px;
  background: #fff;
  flex-wrap: wrap;
  gap: 20px;
  visibility: hidden;
  opacity: 0;
  border-right: 1px solid;
  border-right-style:inset;
  
 
}
.menu2{
  position: absolute;
  display: flex;
  top: 9px;
  left: calc(100% + 1px);
  width: 520px;
  background: #fff;
  padding: 0px 10px;
  flex-wrap: wrap;
  gap: 20px;
  visibility:hidden;
  opacity: 0;
  justify-content: space-between;
  min-height: 389px;
  align-items: center;
}


.artdrop{
    flex: 1;
    text-align: center;
    padding: 30px;
}
.artdrop2{
    flex-wrap: wrap;
    flex: 1;
    text-align:left;
    padding: 30px;
    align-items:start;
    background-color:#e9e4e4 ;
    width: calc(100% / 2);
}
.nav2li:hover .menu,
.nav2li:hover .menu2 {
    display: flex;
    visibility: visible;
    opacity: 1;
}
.headerlinks2{
    position: absolute;
    top: 600px;
    left: 50px;
    
}
.headerlinksh2{
    position: absolute;
    top: 250px;
    left: 50px;
    line-height: 60px;
    font-size: 30px;
}
.headerlinksp{
    position: absolute;
    top: 500px;
    left: 50px;
    line-height: 30px;
    font-size: 20px;
}
h3{
    color: black;
    font-size: 2.5rem;
    margin-left: 40px;
}
.art1{
    flex-shrink: 0;
    min-width: 300px;
    max-height:250px;
    background-color: rgb(239, 238, 235);
    font-size: 2rem;
    text-align: center;
    flex: 1;
}
.art1 a{
    display: inline-block;
    width: 100%;
    padding: 20px;
    margin-bottom: 90px;
    
}
.art1 img{
    margin-bottom: 50px;
}
.menu-section {
    display: flex;
    width: 95%;
    margin: 50px auto;
    border-top: 1px solid ;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
.column {
    flex: 0.5;
    padding: 20px;
    border-right: 1px solid #000;
    border-bottom:1px solid #000;
}
.column h3 {
    margin-top: 0;
    font-size: 18px;
    color: #070101;
}

.column ul li {
    margin-bottom: 10px;
    line-height: 20px;
}
.column ul li a {
    
    color: #231f1f;
    font-size: 14px;
}

.column ul li a:hover {
    color: #000;
}

.li{
    display: flex;
    margin-left: 400px;
    text-align: center;
    
}
.li li a{
    display: inline-block;
    margin-left: 50px;
    border: 1px solid;
    border-radius: 10px;
    min-width: 250px;
    min-height: 80px;
    background-color: rgb(218, 223, 223);
    padding-top: 15px;
}
